    <%= form_with(model: @exhibition) do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :url %>
            <%= f.text_field :url %>
        </div>

        <%= f.fields_for :galleries do |galleries_fields| %>
            <div class="field">
                <%= galleries_fields.label :gallery_id, 'Gallery' %>
                <%= galleries_fields.select :gallery_id, Gallery.all.order(name: :asc).map { |gallery| [gallery.name, gallery.id] }, include_blank: true %>
            </div>
        <% end %>

        <div> 
            <%= f.submit 'Save' %>
        </div>
    <% end %>