    <%= form_with(model: @exhibition) do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :url %>
            <%= f.text_field :url %>
        </div>

        <%= f.fields_for :gallery_exhibitions do |gallery_exhibitions_fields| %>
            <div class="field">
                <%= gallery_exhibitions_fields.label :gallery_id, 'Gallery' %>
                <%= gallery_exhibitions_fields.select :gallery_id, Gallery.all.map { |g| [g.name, g.id] }, include_blank: true %>
            </div>
        <% end %>

        <div> 
            <%= f.submit 'Save' %>
        </div>
    <% end %>