<div data-controller="image-previews">
    <%= form_with(model: activity) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <% activity.images.each do |image| %>
            <div class="image-preview">
                <%= image_tag image, style: "height: 200px; display: inline-block" %>
                <%= hidden_field_tag "saved_images[]", image.signed_id, id: "hidden_image_#{image.id}" %>
                <%= text_field_tag "image_names[#{image.id}]", image.blob.filename.base, placeholder: "Enter image name" %>
                <%# f.hidden_field :images, multtiple: true, value: image.signed_id %>
                <button type="button" data-action="click->image-previews#removeImage" data-image-id="<%= image.id %>">Remove</button>

            </div>
        <% end %>

        <%= f.label :images %>
        <%= f.file_field :images, multiple: true, accept: 'image/*', data: { image_previews_target: "fileInput" }%>

        <div data-image-previews-target="previewContainer"></div>

        <%= f.submit %>
    <% end %>

</div>