<div data-controller="image-previews">
    <%= form_with(model: @activity) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :images %>
        <%= f.file_field :images, multiple: true, accept: 'image/*', data: { image_previews_target: "fileInput" }%>

        <div data-image-previews-target="previewContainer"></div>

        <%= f.submit %>
    <% end %>

</div>