    <%= form_with(model: @event) do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :url %>
            <%= f.text_field :url %>
        </div>

        <div>
            <%= f.label :completed_at, 'Date of Visit' %>
            <%= f.date_field :visited_at %>
        </div>

        <div>
            <%= f.label :completed_at, 'Date of Visit' %>
            <%= f.date_field :start_date %>
        </div>

        <div>
            <%= f.label :completed_at, 'Date of Visit' %>
            <%= f.date_field :end_date %>
        </div>

        <div>
            <%= f.label :images, 'Upload Images' %>
            <%= f.file_field :image, multiple: true %>
        </div>
        
        <%= f.fields_for :artists do |artist_fields| %>
        <div class="field">
            <%= artist_fields.label :name, 'Add artist' %>
            <%= artist_fields.text_field :name %>
        </div>
       <% end %>

        

        <%= f.fields_for :galleries do |galleries_fields| %>
            <div class="field">
                <%= galleries_fields.label :gallery_id, 'Gallery' %>
                <%= galleries_fields.select :gallery_id, Gallery.all.order(name: :asc).map { |gallery| [gallery.name, gallery.id] }, include_blank: true %>
            </div>
        <% end %>

        <div> 
            <%= f.submit 'Save' %>
        </div>
    <% end %>