<h1> events </h1>

<%= link_to "Add event", new_event_path %>


<div>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= link_to event.title, event_path(event) %>
      </li>
    <% end %>
  </ul>
</div>

<div data-controller="locations">
  <%= form_with url: galleries_path, method: :get, data: {turbo_frame: "galleries"} do |form| %>
    <%= form.label :query, "Search Gallery" %>
    <%= form.text_field :query, placeholder: 'Search for a gallery...', data: { locations_target: "locationInput", action: "input->locations#locationInputChanged" } %>
    <ul data-locations-target="locationDropdown"></ul>

  <% end %>
</div>

<!--
  <div class="location-search">
    <input type="text" id="location-search-input" placeholder="Search for a location..." autocomplete="off">
    <select id="location-search-results" size="5">
      Search results will be dynamically added here
    </select>
  </div>
-->


