<h3><%= link_to @event.title, @event.url, target: '_blank' if @event.url.present? %></h3>

<% if @event.end_date %>
    <div>
        <p>until <%= @event.end_date.strftime("%-d %B %Y") %></p>
    </div>
<% end %>
<div>
    
</div>

<% if @images %>
  <% @images.each do |image| %>
    <%= image_tag url_for(image), style: "width: 300px; height: 100%;" %>
  <% end %>
<% end %>

<div>
    <p><%= @event.description %></p>
</div>

<% if @artists.any? %>
    <div>
        <p>Artists:
            <% @artists.each do |artist| %>
                <%= artist.name %>
            <% end %>
        </p>
    </div>
<% end %>

<%= link_to 'edit event', edit_event_path(@event) %>
