<h2>Add event that you've already visited</h2>
<p>An event that you have already been to, this includes uploading photos </p>

<% if @event.errors.any? %>
    <div id='error_explanation'>
        <h2><%= pluralize(@event.errors.count, "error")%> prohibited this event from being saved:</h2>
        <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: @event) do |f| %>
    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url %>
    </div>

    <%= f.fields_for :artists do |artist_fields| %>
        <div class="field">
            <%= artist_fields.label :name, 'Add artist' %>
            <%= artist_fields.text_field :name %>
        </div>
    <% end %>

    <%= fields_for :activity do |activity_fields| %>
        <div>
            <%= activity_fields.label :completed_at, 'Date of Visit' %>
            <%= activity_fields.date_field :completed_at %>
        </div>

        <div>
            <%= activity_fields.label :images, 'Upload Images' %>
            <%= activity_fields.file_field :image, multiple: true %>
        </div>
    <% end %>
    <div>
        <%= f.submit %>
    </div>
<% end %>
