<%= form_with model: @location do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.label :website %>
  <%= form.text_field :website %>

  <div>
    <%= form.label :address_line_1, 'Address' %>
    <%= form.text_field :address_line_1 %>
  </div>

  <div>
    <%= form.label :city_id, 'Town' %>
    <%= form.select :city_id, @cities.map {|city| [city.name, city.id]} %>
  </div>

  <div>
    <%= form.label :postcode, 'Postcode' %>
    <%= form.text_field :postcode %>
  </div>

  <%= form.submit %>
 
<% end %>