<h2>
    <%="Add #{@gallery_exhibition.exhibition.title} at #{@gallery_exhibition.gallery.name} to calendar" %>
</h2>

<div data-controller="display">
    <%= label_tag :already_visited, 'Have you already visited this exhibition?' %>
    <div>
        <%= radio_button_tag :already_visited, 'yes', data: { display_target: 'radioYes', action: 'change->display#showField' }  %>
        <%= label_tag :already_visited_yes, 'Yes' %>
    </div>
    <div>
        <%= radio_button_tag :already_visited, 'no', data: { display_target: 'radioNo', action: 'change->display#showField' }  %>
        <%= label_tag :already_visited_no, 'No' %>
    </div>

    <div style="display: none", data-display-target="visited" >
        <%= render partial: 'visited_form', locals: { gallery_exhibition: @gallery_exhibition } %>
    </div>

    <div style="display: none", data-display-target="toVisit" >
        <%= render partial: 'to_visit_form', locals: { gallery_exhibition: @gallery_exhibition } %>
    </div>
</div>

